<%= turbo_stream_from @post %>
<div class="container">
  <h2>Post</h2>

  <%= render @post %>

  <% if current_user == @post.user %>
    <div>
      <%= link_to "Edit",
        edit_post_path(@post),
        class: "btn btn-primary text-white mb-2"
      %>
      <%= button_to "Delete",
        @post, method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-danger text-white"
      %>
    </div>
  <% end %>

  <%= render "posts/comments", post: @post %>

  <%= link_to "Back to posts", posts_path, class: "btn btn-secondary text-white" %>
</div>
